@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #8ecae6;
	text-align: center;
	font-family: 'Inter', sans-serif;
	display: grid;
	place-items: center;
	height: 100vh;
}
 
main {
	width: 100%;
	max-width: 30rem;
	margin: 0 auto;
	padding: 0 1rem;
}

h1 {
	color: white;
	font-size: 4.5rem;
}

.container {
	width: 100%;
	padding: 4rem 0 2rem 0;
	display: flex;
	gap: .5rem;
}

.container input {
	width: 100%;
	border-radius: .5rem;
	padding: 1rem 1rem;
	color: #023047;
	font-family: inherit;
	border: none;
	box-shadow: 0 8px 16px rgb(0, 0, 0, 0.25);
}

.container button {
	font-weight: 700;
	padding: 0.5rem 1rem;
	border-radius: .5rem;
	background-color: #fb8500;
	border: none;
	color: white;
	box-shadow: 0 8px 16px rgb(0, 0, 0, 0.25);
}

ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-height: 30rem;
	overflow: auto;
}

.item-lista {
	background-color: white;
	display: flex;
	border-radius: 8px;
	padding: 1.5rem 1rem;
	color: #023047;
	font-size: 1rem;
	font-weight: 400;
}
